/* CSS declarations go here */
.overlay {
  position: absolute;
  z-index: 1000;
  width:100%;
  top: 0;
  right:0 ;
  bottom: 0;
  left: 0;

  background: rgba(1,1,1, 0.6);

  display:none;
}

.payment-form__is-submitting .overlay {
  display:block;
}

.overlay__message {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
}
